.activity {
  margin-top: 10px;
  background-color: #fff;
  border-radius: 15px;
  padding: 15px;
}
.activity .head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.activity .head .buttons {
  display: flex;
  align-items: center;
  gap: 10px;
}

.activity .head .buttons button {
  padding: 10px 12px;
  border-radius: 15px;
  color: #0a66c2;
  border: 1px solid #0a66c2;
  background-color: transparent;
}

.activity .head .buttons button:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.1);
}
.activity .head .buttons svg {
  width: 24px;
  height: 24px;
  color: rgba(0, 0, 0, 0.5);
}
.activity .head .buttons svg:hover {
  cursor: pointer;
}
