.experince {
  margin-top: 20px;
  background-color: #fff;
  padding: 10px;
  border-radius: 15px;
}
.experince .add {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.experince .add svg {
  width: 24px;
  height: 24px;
  color: rgba(0, 0, 0, 0.5);
}

.experince .add svg:hover {
  cursor: pointer;
}
.experince h2 {
  margin-bottom: 15px;
}
.experince .box {
  display: flex;
  margin-top: 20px;
  justify-content: space-between;
}

.experince .box svg {
  width: 24px;
  height: 24px;
  color: rgba(0, 0, 0, 0.5);
}

.experince .box svg:hover {
  cursor: pointer;
}
