.jobs {
  margin-top: 10px;
  background-color: #fff;
  border-radius: 15px;
  padding: 15px;
}
.jobs .head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.jobs .head svg {
  width: 24px;
  height: 24px;
  color: rgba(0, 0, 0, 0.5);
}
.jobs .head svg:hover{
    cursor: pointer;
}